APP_NAME=PlanYourTrip API
APP_VERSION=0.1.0
APP_ENV=development
DEBUG=true

HOST=127.0.0.1
PORT=8000

#DATABASE_URL=postgresql://postgres:password@localhost:5432/planyourtrip
DATABASE_URL=postgresql+psycopg://postgres:admin@localhost:5432/planyourtrip 

LOG_LEVEL=DEBUG